{% extends 'base.html' %}

{% block title %}Available Games{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='games.css') }}">
{% endblock %}

{% block content %}
<div class="container mt-5">
  <h1>Available Games</h1>
  <div class="row">
    {% for game in games %}
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        {% if game.image_game_url.startswith('http') %}
        <img src="{{ game.image_game_url }}" class="card-img-top" alt="{{ game.title }}">
        {% else %}
        <img src="{{ url_for('static', filename=game.image_game_url) }}" class="card-img-top" alt="{{ game.title }}">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ game.title }}</h5>
          <p class="card-text">{{ game.description }}</p>
          <p class="genre-list"><strong>Genre:</strong>
            {% for g in genre %}
              {{ g.name }}{% if not loop.last %}, {% endif %}
            {% endfor %}
          </p>
          <p><strong>Developer</strong> {{ game.developer }} </p>
          <p><strong>Price:</strong> ${{ game.price }}</p>
        </div>
        <div class="card-footer text-center">
          <a href="{{ url_for('cart.add_to_cart', game_id=game.id) }}" class="btn btn-primary">
            Add to Cart
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
